
params { 
    transcriptome = "/home/bd387/RNA-Seq-Jobs/InputData/transcriptome/transcriptome.fa"
    SingleEnd     = "true"
    reads         = "/home/bd387/RNA-Seq-Jobs/InputData/reads/*.fastq"
    experiment    = "/home/bd387/RNA-Seq-Jobs/InputData/experiment/hiseq_info.txt"
    output        = "${PWD}/results"
    fragment_len  = '180'
    fragment_sd   = '20'
    bootstrap     = '100'
    task_cpus = 1
} 


process {
    publishDir = [path: params.output, mode: 'copy', overwrite: 'true']
} 

profiles {
    crg {
        process {
          cpus=params.task_cpus
        }
    }
}
